:root {
    --primary-color: #FF6700;
    --primary-color-dark: #BF4D00;
    --text-base: #4C4652;
    --text-low: #B4B4B4;
    --primary-background: #FFFCF9;
    --secondary-background: #FFDAC2;
    --low-background: #F4F4F4;

    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    margin: 0;
    background-color: var(--secondary-background);
    display: flex;
    flex-direction: column;
}

#body-section {
    height: 100vh;
    height: calc(100vh - 60px);
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 40px; */
}

::-webkit-scrollbar {
    width: 10px;
    background: var(--primary-background);
}

::-webkit-scrollbar-thumb {
    background: var(--text-low);
    border-radius: 5px;
}

button, #login-button {
    border: none;
    background-color: var(--primary-color);
    color: var(--primary-background);
    border-radius: 12px;
    font-size: 16px;
    padding: 8px 24px;
}

#login-button:hover {
    background-color: var(--primary-color-dark);
    cursor: pointer;
}

/*///////////////////*/
header {
    height: 60px;
    width: 100vw;
    
    background-color: var(--primary-background);
    border-bottom: 1px solid var(--text-low);
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 5;
}

#navbar {
    height: 60px;
    width: 85vw;

    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

#home-button {
    border: none;
    background-color: transparent;
    padding: 8px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    font-family:'Open Sans', sans-serif;
    display: flex;
    gap: 40px;
}

a {
   color: var(--text-base);
   outline: 0;
   text-decoration: none; 
   font-weight: 600;
}

#announce-page {
    color: var(--primary-color);
}

#grid-l {
    width: 160px;
    display: flex;
    justify-content: left;
}

#grid-r {
    width: 160px;
    display: flex;
    justify-content: right;
}
/*///////////////////*/

#form-card {
    width: 80%;
    background: var(--primary-background);
    box-shadow: 0px 0px 8px 2px rgba(255, 103, 0, 0.2);
    border-radius: 16px;
    padding: 36px;
    display: flex;
    justify-content: space-around;
}

.section-from-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}
/*///////////////////*/

.line-separator-x {
    background-color: var(--text-low);
    width: 100%;
    height: 1px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.line-separator-y {
    background-color: var(--text-low);
    width: 1px;
    height: 100%;
    margin-left: 8px;
    margin-right: 8px;
}

.in-line {
    display: flex;
    justify-content: left;
    align-items: center;
}

.in-line-sbt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
/*///////////////////*/

.input-group {
    display: flex;
    flex-direction: column-reverse;
    gap: 2px;
}

.select-group {
    display: flex;
    flex-direction: column-reverse;
    width: 25%;
}

fieldset, .form-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#street-group {
    width: 70%;
}

#apartment-complex-group {
    width: 40%;
}

/*///////////////////*/

label {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-base);
    pointer-events: none;
    margin-left: 8px;
}

legend {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
    pointer-events: none;
    text-align: center;
}

span {
    color: red;
    min-height: 15px;
    margin-left: 8px;
}

input {
    width: calc(100% - 16px);
    font-family: 'Open Sans';
    border: solid 1.5px var(--text-base);
    border-radius: 12px;
    background: none;
    padding: 6px;
    font-size: 16px;
    color: var(--text-base);
}

input:focus {
    outline: none;
    border: 1.5px solid var(--primary-color);
}

input:focus ~ label {
    color: var(--primary-color);
}

textarea {
    width: 300px;
    height: 100px;
    font-family: 'Open Sans';
    border: solid 1.5px var(--text-base);
    border-radius: 12px;
    background: none;
    padding: 6px;
    font-size: 16px;
    color: var(--text-base);
}

textarea:focus {
    outline: none;
    border: 1.5px solid var(--primary-color);
}

textarea:focus ~ label {
    color: var(--primary-color);
}

select {
    width: 100%;
    font-family: 'Open Sans';
    border: solid 1.5px var(--text-base);
    border-radius: 12px;
    background: none;
    padding: 6px;
    font-size: 16px;
    color: var(--text-base);
}

select:focus {
    outline: none;
    border: 1.5px solid var(--primary-color);
    color: var(--primary-color);
}

select:focus ~ label {
    color: var(--primary-color);
}
/*///////////////////*/
#img-input-container {
    width: 300px;
    height: 140px;
    border-radius: 12px;
    background: transparent;
    border: solid 1.5px var(--text-base);
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
    position: relative;
}
 
#img-input-label {
    font-size: 20px;
    position: absolute;
    top: -16px;
    background-color: var(--primary-background);
    border-left: solid 4px var(--primary-background);
    border-right: solid 4px var(--primary-background);
}
  
#add-img-icon {
    width: 64px;
    height: 64px;
    padding: 4px;
    margin-top: 12px;
}
  
#img-input {
    width: 90%;
    height: 24px;
    background-color: transparent;
    color: var(--text-base);
}
  
#img-input:hover {
    background-color: var(--low-background);
    cursor: pointer;
}
 
#announce-button {
    border: none;
    background-color: var(--primary-color);
    color: var(--primary-background);
    border-radius: 12px;
    font-size: 16px;
    padding: 8px 24px;
    transition: .5s;
    text-align: center;
}

#announce-button:hover {
    background-color: var(--primary-color-dark);
    cursor: pointer;
}