@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
  background-image: url('../../img/registerPageBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: #4C4652;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

main{
  width: 100%;
  display: flex;
  flex-direction: row;
}

section{
  width: 50%;
  height: 100%;
}

@media only screen and (max-width: 1100px) {
  main {
    flex-direction: column;
  }

  #main-container{
    height: 100%;
    width: 100%;
    margin: 0;
  }

  #space-container{
    height: 0;
    width: 0;
  }

  #register-container {
    height: 100%;
    margin: auto;
    width: 100%;
  }
}

.image-upload {
  position: relative;
  display: inline-block;
}

.image-upload input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}


#register-container{
  background-color: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  height: 100%;
  width: 70%;
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 30px auto;
  
}

#register-container #logo{
  width: 250px;
}

#register-container label{
  text-align: left;
  width: 100%;
}

#register-container span{
  color: red;
  min-height: 15px;
  margin-bottom: 15px;
}


#register-container input{
  min-height: 50px;
  border-radius: 15px;
  border: 1px solid #4C4652;
  width: 100%;
  margin: 10px;
  font-size: 20px;
  padding: 0 10px
}

#register-container select{
  min-height: 50px;
  border-radius: 15px;
  border: 1px solid #4C4652;
  width: 104%;
  margin: 10px;
  font-size: 20px;
  padding: 0 10px
}
#register-container a{
  text-decoration: none;
  font-size: 16px;
  color: #FF6700;
}


#register-container #buttons-div{
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3;
}

#register-container #buttons-div #back-button{
  border: 1px solid #FF6700;
  color: #FF6700;
  background-color: transparent;
  width: 50%;
  min-height: 50px;
  border-radius: 15px;
  font-size: 20px;
  margin: 0px 10px;
  cursor: pointer;
}

#register-container #buttons-div #submit-button{
  border: none;
  color: #ffffff;
  background-color: #FF6700;
  width: 50%;
  min-height: 50px;
  border-radius: 15px;
  font-size: 20px;
  margin: 0px 10px;
  cursor: pointer;
}


